{% load static %}
<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset = "UTf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel = "stylesheet"
              href = "{% static 'Welcome/style.css' %}">
        {% block style %}{% endblock %}
        <style>
            a:link {
          color: rgb(255, 255, 255);
          background-color: transparent;
          text-decoration: none;
        }
        
        a:visited {
          color: rgb(241, 194, 122);
          background-color: transparent;
          text-decoration: none;
        }
        
        a:hover {
          color: red;
          background-color: transparent;
          text-decoration: underline;
        }
        
        a:active {
          color: pink;
          background-color: transparent;
          text-decoration: underline;
        }
        
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>